
<h1>Welcome to Rankmyshoes!</h1>
<h2>After experiencing a hard time buying the perfect running shoe I decided to take things into my own hands and create the first comprehensive website where others can join and rank running shoes without navigating to individual sites. Sign up and give your first review!</h2>